.houses-banner {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.houseCard img {
  object-fit: cover;
  height: 180px;
}

@media (min-width: 1200px) {
  .col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}
