.houses-banner {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}

.houseCard img {
  object-fit: cover;
  height: 180px;
}

.houseCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.houseCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (min-width: 1200px) {
  .col-lg-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}
